### Step-1 : Importing Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.model_selection import GridSearchCV

C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Step-2: Loading Data and EDA

In [2]:
df = pd.read_csv('diabetes1.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.shape

(768, 9)

In [6]:
x = df.drop('Outcome',axis=1)

In [7]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
y = df['Outcome']

In [9]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

### Step-3: Train & Test Split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.3,random_state=2 )

In [11]:
X_train.shape

(537, 8)

In [12]:
X_test.shape

(231, 8)

### Step-4 : Model Creation & Evaluation

In [13]:
model = DecisionTreeClassifier(max_depth=3)

In [14]:
"""parameter={
 'criterion':['gini','entropy'],
  'splitter':['best','random'],
  'max_depth':[1,2,3,4,5],
  'max_features':['auto', 'sqrt', 'log2']
    
}"""

"parameter={\n 'criterion':['gini','entropy'],\n  'splitter':['best','random'],\n  'max_depth':[1,2,3,4,5],\n  'max_features':['auto', 'sqrt', 'log2']\n    \n}"

In [15]:
model=DecisionTreeClassifier(max_depth=5)
#cv=GridSearchCV(model,param_grid=parameter,cv=5,scoring='accuracy')

In [16]:
model.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=5)

In [17]:
#cv.best_params_

In [18]:
Y_pred = model.predict(X_test)

In [19]:
print(accuracy_score(Y_test, Y_pred))

0.7402597402597403

In [20]:
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       155
           1       0.66      0.43      0.52        76

    accuracy                           0.74       231
   macro avg       0.71      0.66      0.67       231
weighted avg       0.73      0.74      0.72       231